@if (link()) {
  @if (link()?.businessId) {
  <h1>Edit: {{link()?.name}}</h1>
  }
}
@else {
  <h1>Create</h1>
}

<div [formGroup]="form">
  <input formControlName="name" type="text" placeholder="Name" class="input w-full max-w-xs" />
  <input formControlName="description" type="text" placeholder="Description" class="input w-full max-w-xs" />
  <input formControlName="url" type="text" placeholder="Url" class="input w-full max-w-xs" />
</div>

<button (click)="handleSave()" [disabled]="form.invalid" class="btn btn-outline btn-primary btn-md">Save</button>